<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Wedstrijdschema</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>
<!-- ion item best gebruiken -->
<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Datum</th>
            <th scope="col">Thuisploeg</th>
            <th scope="col" routerLinke>Score</th>
            <th scope="col">Uitploeg</th>
            <th scope="col">Locatie</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">30-06-2020  20:00</th>
            <td>Ninja's United</td>
            <td>2-6</td>
            <td>Los Pantalones Picantes</td>
            <td routerLink>Thuisbasis Kapellen</td>
          </tr>
          <tr>
            <th scope="row">30-07-2020</th>
            <td>20:00</td>
            <td>Los Pantalones Picantes</td>
            <td>2-6</td>
            <td>Ninja's United</td>
            <td routerLink>Het Rooi Berchem</td>
            <td><ion-icon name="arrow-forward-circle-sharp"></ion-icon></td>
          </tr>
        </tbody>
      </table>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
