<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Wedstrijdschema</ion-title>
    <ion-back-button slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>
<!-- ion item best gebruiken -->
<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
      <ion-item lines="none"><p>01-01-2020<br>20:00</p></ion-item>
      <ion-item lines="none"><p>Ninja's United <br>6-2 <br>Los Pantalones picantes</p></ion-item>
      <ion-item lines="none"><p>Sporthal Kleinboom Kapellen</p></ion-item>
      </ion-item>
      <ion-item>
        <ion-item lines="none"><p>01-01-2020  20:00</p></ion-item>
      <ion-item lines="none"><p>Ninja's United <br>6-2 <br>Los Pantalones picantes</p></ion-item>
      <ion-item lines="none"><p>Sporthal Kleinboom Kapellen</p></ion-item>
      </ion-item>
      <ion-item>
        <ion-item lines="none"><p>01-01-2020  20:00</p></ion-item>
      <ion-item lines="none"><p>Ninja's United <br>...-... <br>Los Pantalones picantes</p></ion-item>
      <ion-item lines="none"><p>Sporthal Kleinboom Kapellen</p></ion-item>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
