<div class="container">
    <div class="row">
        <div class="col">
            <h3 class="my-3">Klanten</h3>
            <p *ngIf="!klantgeg.length">Er zijn geen klanten aanwezig in de tabel</p>
            <table class="table table-striped" *ngIf="klantgeg.length">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Voornaam</th>
                        <th scope="col">Naam</th>
                        <th scope="col">Straat</th>
                        <th scope="col">Postcode</th>
                        <th scope="col">Plaats</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of klantgeg">
                        <th scope="row"><a [routerLink]="['/klanten',x.id]">{{x.id}}</a></th>
                        <td>{{x.voornaam}}</td>
                        <td>{{x.naam}}</td>
                        <td>{{x.straat}}</td>
                        <td>{{x.postcode}}</td>
                        <td>{{x.plaats}} <button type="button" class="close" (click)="deleteKlant(x.id)"
                                aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button></td>
                    </tr>
                </tbody>
            </table>
            <div class="nieuwKlant d-flex justify-content-end">
                <button class="btn btn-success " [routerLink]='["/inschrijving"]'> +Voeg klanten toe</button>
            </div>
        </div>
    </div>
</div>