<nav class="mb-2 navbar navbar-expand-lg navbar-dark bg-success">
  <a id="hoofdingNav" class="navbar-brand" href="#"><i class="fas fa-briefcase"></i> {{bedrijf}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 mx-auto">
      <li>
        <form class="form-inline my-2 my-lg-0 d-none d-lg-inline-block">
          <input class="form-control mr-sm-2" type="search" placeholder="Zoeken">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Zoeken</button>
        </form>
      </li>
      <li class="nav-item" routerLinkActive="actief" [routerLinkActiveOptions]='{exact: true}'>
        <a class="nav-link" routerLink="">Dashboard <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="actief">
        <a class="nav-link" routerLink='medewerkers'>Medewerkers</a>
      </li>
      <li class="nav-item" routerLinkActive="actief">
        <a class="nav-link" routerLink='klanten'>Klanten</a>
      </li>
      <li class="nav-item" routerLinkActive="actief">
        <a class="nav-link" routerLink='bestellingen'>Bestellingen</a>
      </li>
    </ul>
  </div>
</nav>