ion-card{
    width: 130px;
    height: 130px;
}
ion-card-title{
    font-size: small;
}
ion-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.swiper-container {
    width: 600px;
    height: 300px;
}