ion-card{
    width: 130px;
    height: 130px;
}
ion-card-title{
    font-size: small;
}
ion-col{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bar1{
    height: 40px;
    transform: rotate(1.8deg);
    background-color: black;
    position: relative;
    top: -15px;
    width:52%;
}
#bar2{
    height: 40px;
    transform: rotate(-1.8deg);
    background-color: black;
    position: relative;
    top: -55px;
    right:-50%;
    width:52%;
}
#hoofding{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100px;
    background-color: orange;
}
ion-toolbar{
    --background: orange;
}
#imageHoofding{
    position: relative;
    top:-42.5%; 
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    border:5px solid black;
}
ion-content{
    height: 100%;
    z-index: 3;
    position: relative;
}
ion-header{
    background: rgba(255, 166, 0, 1);
    border-radius: 0 0 85% 85% / 30%;
}