<!-- <ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>Welkom {{naamUser.naam}}</ion-title>
    <ion-button fill="outline" slot="end" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button> 
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <div id="hoofding">
    <h1>Welkom {{naamUser.naam}}</h1>
  <!--   <ion-button fill="outline" slot="end" (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </ion-button>  -->
  </div>
  <div id="bar1"></div>
  <div id="bar2"></div>
  <ion-avatar id="imageHoofding">
    <ion-img src="https://www.w3schools.com/bootstrap4/img_avatar1.png"></ion-img>
  </ion-avatar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-card color="warning" routerLink="/schedule">
        <ion-card-header>
          <ion-card-subtitle>Agenda</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon size="large" name="calendar-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col>
      <ion-card color="warning" routerLink="/ranking">
        <ion-card-header>
          <ion-card-subtitle>Ranking</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon size="large"name="list-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card color="warning" routerLink="/timer">
        <ion-card-header>
          <ion-card-subtitle>Game-timer</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon size="large" name="timer-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col>
      <ion-card color="warning">
        <ion-card-header>
          <ion-card-subtitle>Ingave <br> wedstrijd-<br>gegevens</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon size="large" name="stats-chart"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card color="warning" routerLink="/settings">
        <ion-card-header>
          <ion-card-subtitle>Instellingen</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon size="large" name="settings"></ion-icon>
        </ion-card-content>
      </ion-card>
      </ion-col>
      <ion-col>
      <ion-card color="warning">
        <ion-card-header>
          <ion-card-subtitle>Foto's</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-icon size="large" name="images-outline"></ion-icon>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>
      Ninja's United
    </ion-title>
  </ion-toolbar>
</ion-footer>
